@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,700);
@import "../bower_components/bootstrap/less/bootstrap.less";
@import "fonts.less";
@import "colorbrewer.less";
@import "bootstrap-typeahead.less";

@font-family-sans-serif: 'Raleway', sans-serif;
@font-family-serif: 'Droid Serif', serif;
@font-family-base: @font-family-sans-serif;

@white: #fff;
@lightBlue: #50C9F6;
@yellow: #FFCB43;
@orange: #FF9432;
@pink: #FF2956;
@darkBlue: #007CF7;
@green: #31D973;
@red: #FF3737;
@gray: #8E8E93;

@link-color: @darkBlue;
@link-hover-color: darken(@link-color, 15%);

@headings-font-weight: 100;

@graphheight: 200px;

@sidebarBackgroundColor: rgba(50,50,50,.95);

@mapContentBorder: 5px;

body {
  overflow: hidden;
  margin: 0;
  font-size: 14px;
}

#immiviz-container {
  padding: 0 30px;
}

#immiviz-content {
  z-index: 1030;
  color: #fff;
  /*background:#f8f8f8;*/
  //background-color: #FFF;
  background-color: @sidebarBackgroundColor;
  box-shadow:0 1px 0 rgba(0,0,0,.1),0 1px 2px rgba(0,0,0,.1);
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
    overflow:hidden;
  display:block;
  /*
  -webkit-filter: blur(20px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px);
  */
  //opacity: 0.95;
}

.countrySelector {
  position: relative;
  top: 10px;
}

.countryTooltip {
  z-index: 1035;
  position: absolute;
  display: none;
  pointer-events: none;
  background: #fff;
  padding: 5px;
  text-align: left;
  border: solid #ccc 1px;
  color: #666;
  font-size: 14px;
  font-family: sans-serif;
}

#immiviz-content h1 {
  color: @gray;
}

.numbers-stat {
  color: @darkBlue;
}

.numbers-stat-number {
  font-size: 5em;
}

.numbers-stat-info {
  font-size: 1.1em;
  color: @gray;
}

.rice {
  margin-top: 1em;
  font-size: 2.5em;
  display: table;
  margin: .5em auto .2em;
}

.rickshawtwolines {
  position: relative;
  height: @graphheight;
  margin-bottom: 20px;
  .leftaxis {
    position: absolute;
    height: @graphheight;
    width: 40px
  }
  .chart {
    position: absolute;
    left: 40px;
    width: 500px;
  }
  .rightaxis {
    position: absolute;
    left: 550px;
    height: @graphheight;
    width: 40px;
  }

  .rickshaw_graph .y_ticks path, .rickshaw_graph .x_ticks_d3 path,
  .rickshaw_graph .y_ticks .tick, .rickshaw_graph .x_ticks_d3 .tick,
  .rickshaw_graph .y_ticks text, .rickshaw_graph .x_ticks_d3 text {
    stroke: @white;
  }
}

.globeElement {
  position: absolute;
  top: 0;
  z-index: 100;
  svg {
    position: relative;
    pointer-events: all;
    z-index: 200;
  }
  circle {
    fill: #dbe4f0;
  }
    
  path.land {
    fill: @gray;
    stroke: @white;
  }
  
  path.active {
    fill: @green;
  }

  .hint {
    position: absolute;
    right: 0;
    width: 1280px;
    font-size: 12px;
    color: #999;
  }
  
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  
  .x.axis path {
    display: none;
  }
  
  .line {
    fill: none;
    stroke: #447;
    stroke-width: 2px;
  }
}

.app-logo, .app-logo:hover {
  i {
    font-size: 0.85em;
    position: relative;
    margin-right: 3px;
    top: -1px;
  }
  position: fixed;
  text-decoration: none;
  top: 5px;
  left: 10px;
	text-align: center;
	color: #000;
	text-shadow: white 0.03em 0.03em 0.06em;
    font-size: 24px;
    font-family: @font-family-base;
	font-weight: 200;
	span.viz {
	    color: @lightBlue;
	}
}

#chart, #header, #footer {
  position: absolute;
  top: 0;
}

#header, #footer {
  z-index: 1;
  display: block;
  font-size: 36px;
  font-weight: 300;
  text-shadow: 0 1px 0 #fff;
}

#header.inverted, #footer.inverted {
  color: @white;
  text-shadow: 0 1px 4px #000;
}

#header {
  top: 80px;
  left: 140px;
  width: 1000px;
}

#footer {
  top: 680px;
  right: 140px;
  text-align: right;
}

rect {
  fill: none;
  pointer-events: all;
}

pre {
  font-size: 18px;
}

line {
  stroke: #000;
  stroke-width: 1.5px;
}

.string, .regexp {
  color: #f39;
}

.keyword {
  color: #00c;
}

.comment {
  color: #777;
  font-style: oblique;
}

.number {
  color: #369;
}

.class, .special {
  color: #1181B8;
}
