<div class="row immiviz-sidebar-top">
  <div class="col-sm-3">
    <back-button></back-button>
  </div>
</div>
  <div class="row immiviz-sidebar-view-content" ng-hide="countries.selectedCountry.name">
    <div class="col-sm-12">
        <h1 class="text-center">Choose A Country</h1>
        <p>Get cost information for a country using the map or typing in the search box.</p>
    </div>
  </div>
  <div ng-show="countries.selectedCountry.name">
    <div class="row" ng-hide="averageCost">
      <div class="col-sm-12">
        <h1 class="text-center">{{countries.selectedCountry.name}}</h1>
        <div class="numbers-stat-info text-center">Data not available at this time.</div>
      </div>
    </div>
    <div class="row" ng-show="averageCost">
      <div class="col-sm-12">
        <h1 class="text-center">{{countries.selectedCountry.name}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="numbers-stat text-center">
          <div class="numbers-stat-number">${{averageCost}}</div>
          <div class="numbers-stat-info">Average Transaction Cost</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="numbers-stat text-center">
          <div class="numbers-stat-number">{{averagePercent}}%</div>
          <div class="numbers-stat-info">Average Transaction Cost</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="numbers-stat">
          <div class="rice">
            <span ng-repeat="n in numberLivingInExtremePovertyForCost track by $index">
              <i class="icon-female" ng-show="$even"></i>
              <i class="icon-male" ng-show="$odd"></i>
              <br ng-if="($index + 1) % 5 == 0">
            </span>
          </div>
          <div class="numbers-stat-info text-center">
            Number of People in Extreme Poverty<br>
            Live on Less than Transaction Cost Per Day</div>
        </div>
      </div>
    </div>
  </div>
</div>